frontend/node_modules/
frontend/dist/
backend/bin/
backend/.cache/
data/db/*.db
data/db/*.db-journal
data/config/*.db
data/config/*.db-journal
data/config/*.metadb
data/config/subscriptions/*.yaml
*.log
